body {
	background-color: #ddd;
	font-family:  "Minion Pro", Gentium, "Gentium Basic", "Hoefler Text", Constantia, "Palatino Linotype", Georgia, serif;
	line-height: 175%;
	padding: 0;
}

.loading {
	top: 200px;
	left: 50%;
	margin-left: -200px;
	position: absolute;
	font-size: 1.5em;
	text-align: center;
	font-style: italic;
	width: 400px;
}

.container {
	margin: 0 auto 0 auto;
}

section {
	background: #fff;
	border: 1px solid #aaa;
	-moz-box-shadow: 5px 5px 10px -5px #333333;
	-webkit-box-shadow: 5px 5px 10px -5px #333333;
	box-shadow: 5px 5px 10px -5px #333333;
	margin-bottom: 5em; 
	padding: 45px 15px 60px 15px;
	clear: both;
}

section {
	margin-top: 5em;
}

section > h1 {
	font-family:  "Minion Pro", Gentium, "Gentium Basic", "Hoefler Text", Constantia, "Palatino Linotype", Georgia, serif;
	font-variant: small-caps;
	margin-bottom: 0;
	text-align: center;
}

section > hr {
	border-color: #aaa;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

aside {
	font-size: 1.1em;
	text-align: center;
}

aside > span:first-child:before {
	content: 'By ';
	font-style: italic;
}

aside > span + span:before {
	content: ' -  ';
}

article {
	clear: both;
	-webkit-column-count: 2;
	-webkit-column-gap: 3em;
	-webkit-column-fill: balanced;
	-o-column-count: 2;
	-o-column-gap: 3em;
	-o-column-fill: balanced;
	-ms-column-count: 2;
	-ms-column-gap: 3em;
	-ms-column-fill: balanced;
	-moz-column-count: 2;
	-moz-column-gap: 3em;
	-moz-column-fill: balanced;
	column-count: 2;
	column-gap: 3em;
	column-fill: balanced;
	padding: 0 5em 0 5em;
}

.keywords:before {
	font-weight: bold;
	content: 'Keywords: ';
	padding-right: .5em;
}

.keywords span + span:before {
	content: ', ';
	padding-right: .5em;
}

p.tweet:before {
	font-weight: bold;
	content: 'PhD in a Tweet: ';
}

p.tweet {
	font-family: sans-serif;
	border: 2px solid #4099FF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	padding: 1em;
	margin-bottom: 2em;
}

article hr {
	border-color: #000;
	width: 10%;
}

article p {
	text-align: justify;
}

article * + *  {
	margin-top: 1em;
}

article li {
	margin-top: 0;
}

article *:first-child {
	margin-top: 0;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	font-family:  "Minion Pro", Gentium, "Gentium Basic", "Hoefler Text", Constantia, "Palatino Linotype", Georgia, serif;
	text-align: center;
}

article h1 {
	font-size: 1.6em;
}

article h2 {
	font-size: 1.4em;
}

article h3 {
	font-size: 1.3em;
}

article h4 {
	font-size: 1.1em;
}

blockquote {
	border: 0;
}

article img {
	max-width: 100%;
}

blockquote p:before {
	content: '“';
	color: #666;
	font-size: 1.4em;
}

blockquote p:after {
	content: '”';
	color: #666;
	font-size: 1.4em;
}

blockquote p {
	font-size: 1em;
	line-height: 1.8em;
	font-style: italic;
}

@media print {
	body {
		background: #fff;
	}
	
	.loading {
		display: none;
	}

	.container {
		-webkit-column-count: 2;
		-webkit-column-gap: 3em;
		-webkit-column-fill: balanced;
		-o-column-count: 2;
		-o-column-gap: 3em;
		-o-column-fill: balanced;
		-ms-column-count: 2;
		-ms-column-gap: 3em;
		-ms-column-fill: balanced;
		-moz-column-count: 2;
		-moz-column-gap: 3em;
		-moz-column-fill: balanced;
		column-count: 2;
		column-gap: 3em;
		column-fill: balanced;
	}
	
	section {
		border: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
	}

	section + section {
		margin-top: 5em;
	}

	section > hr {
		display: none;
	}

	section > h1 {
		font-family: Helvetica, sans-serif;
		font-size: 1.4em;
		color: #0C2577;
		margin: 0 0 1em 0;
		padding: 0;
		font-variant: normal;
	}

	aside, section h1, section h2, section h3, section h4, section h5, section h6 {
		text-align: left;
	}

	aside > span + span:before {
		content: '';
	}

	aside > span {
		display: block;
	}

	aside > span + span {
		color: #999;
	}

	article {
		-webkit-column-count: 1;
		-o-column-count: 1;
		-ms-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		padding: 1.5em 0 0 0;
	}

	article h1, article h2, article h3, article h4, article h5, article h6 {
		margin: 1em 0 .5em 0;
	}

	p.tweet {
		margin-bottom: 1.5em;
	}

	.keywords + hr {
		display: none;
	}
}