Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase @@@PATH@@@/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php
</IfModule>

<Files ~ "\.txt$">
	Order deny,allow
	Deny from all
</Files>